{
  "api_key":"your key",
  "schema_file":"recombinant_tables.yaml",
  "schema_dir":"schema",
  "types":["contracts"],
  "external_report_dir":"external_report",
  "internal_report_dir":"internal_report",
  "log_dir":"log"
}